.sprt-color {
	background: url('../img/sprt-color.svg') no-repeat;
}

.sprt-calendar-due {
	background-position: 33.333333333333336% 0;
}

.sprt-calendar-overdue {
	background-position: 66.66666666666667% 66.66666666666667%;
}

.sprt-checkmark-color {
	background-position: 0 33.333333333333336%;
}

.sprt-clock-due {
	background-position: 33.333333333333336% 33.333333333333336%;
}

.sprt-clock-overdue {
	background-position: 66.66666666666667% 0;
}

.sprt-duedate-due {
	background-position: 66.66666666666667% 33.333333333333336%;
}

.sprt-duedate-overdue {
	background-position: 0 66.66666666666667%;
}

.sprt-percent-active {
	background-position: 33.333333333333336% 66.66666666666667%;
}

.sprt-privacy {
	background-position: 0 0;
}

.sprt-startdate-due {
	background-position: 100% 0;
}

.sprt-startdate-overdue {
	background-position: 100% 33.333333333333336%;
}

.sprt-status {
	background-position: 100% 66.66666666666667%;
}

.sprt-tag-active {
	background-position: 0 100%;
}

.sprt-task-star-high {
	background-position: 33.333333333333336% 100%;
}

.sprt-task-star-low {
	background-position: 66.66666666666667% 100%;
}

.sprt-task-star-medium {
	background-position: 100% 100%;
}

